<div class="news-tabs-block">
	<div class="tabs">
		<ul
			class="nav nav-tabs">
			{% if form.service_type %}
				{% for option_value, option_label in form.service_type['#options'] %}
					<li class="nav-item">
						<a class="nav-link {{ form.service_type['#value'] == option_value ? 'active' : '' }}" href="#" data-value="{{ option_value }}">
							{% if option_label == '- Any -' %}
								All
							{% else %}
								{{ option_label }}
							{% endif %}
						</a>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
</div>



<script>
	// Attach click event listeners to all nav-link elements
document.querySelectorAll('.nav-link').forEach(link => {
	link.addEventListener('click', function (event) {
	event.preventDefault(); // Prevent default anchor click behavior

	const selectedValue = this.getAttribute('data-value');
	console.log("selectedValue", selectedValue)
	document.querySelectorAll('.nav-link').forEach(nav => nav.classList.remove('active'));
	this.classList.add('active');
	const currentUrl = new URL(window.location.href);
	currentUrl.searchParams.set('service_type', selectedValue);
	window.location.href = currentUrl;
	});
});
</script>
