<div class="footer-menu-wrapper">
  <div class="footer-menu">
    <ul>
      <li>
        <h4>UNITED KINGDOM</h4>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="address-content">
            63-66 Hatton Garden
            <br/>
            London EC1N 8LE
          </div>
          <div class="office-phone" >
            <a href="tel:+44 (0)20 351 446 56">+44 (0)20 351 446 56</a>
          </div>
        </div>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="office-email" >
            <a href="mailto:info@securance.com">info@securance.com</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer-menu">
    <ul>
      <li>
        <h4>UNITED KINGDOM</h4>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="address-content">
            63-66 Hatton Garden
            <br/>
            London EC1N 8LE
          </div>
          <div class="office-phone" >
            <a href="tel:+44 (0)20 351 446 56">+44 (0)20 351 446 56</a>
          </div>
        </div>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="office-email" >
            <a href="mailto:info@securance.com">info@securance.com</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer-menu">
    <ul>
      <li>
        <h4>UNITED KINGDOM</h4>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="address-content">
            63-66 Hatton Garden
            <br/>
            London EC1N 8LE
          </div>
          <div class="office-phone" >
            <a href="tel:+44 (0)20 351 446 56">+44 (0)20 351 446 56</a>
          </div>
        </div>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="office-email" >
            <a href="mailto:info@securance.com">info@securance.com</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer-menu">
    <ul>
      <li>
        <h4>UNITED KINGDOM</h4>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="address-content">
            63-66 Hatton Garden
            <br/>
            London EC1N 8LE
          </div>
          <div class="office-phone" >
            <a href="tel:+44 (0)20 351 446 56">+44 (0)20 351 446 56</a>
          </div>
        </div>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="office-email" >
            <a href="mailto:info@securance.com">info@securance.com</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer-menu">
    <ul>
      <li>
        <h4>UNITED KINGDOM</h4>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="address-content">
            63-66 Hatton Garden
            <br/>
            London EC1N 8LE
          </div>
          <div class="office-phone" >
            <a href="tel:+44 (0)20 351 446 56">+44 (0)20 351 446 56</a>
          </div>
        </div>
      </li>
      <li>
        <div class="office-address">
          <h6>Contact our UK office</h6>
          <div class="office-email" >
            <a href="mailto:info@securance.com">info@securance.com</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>