header {
  box-shadow: 0 0 10px #cccccc91;
  padding: 5px 0;
  position: relative;
  .row {
    align-items: center;
  }
  .header-logo {
    img {
      max-width: 70%;
      @media screen and (max-width: 1199px) {
        max-width: 100%;
      }
    }
  }
  .mobile-btn {
    display: none;
    @media screen and (max-width: 1199px) {
      display: block;
      button {
        margin-left: auto;
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40px;
        height: 30px;
        padding: 0;
        span {
          width: 100%;
          height: 3px;
          background: #000;
          border-radius: 20px;
        }
      }
    }
  }

  .header-main-menu-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;

    ul.nav {
      &::after {
        display: none;
      }
      flex-direction: row;
      gap: 20px;

      li.nav-item {
        padding: 19px 0;
        a {
          color: #000;
          font-family: "Barlow-Medium";
          text-transform: uppercase;
        }
        .dropdown-menu {
          display: block;
          visibility: hidden;
          position: absolute;
          left: 0;
          top: 100%;
          transform: translateY(20px);
          background: #24272b;
          border: none;
          padding: 45px;
          padding-top: 15px;
          border-radius: 0;
          .dropdown-item {
            background: #24272b !important;
            a {
              color: #fff;
              text-transform: capitalize;
              font-family: "Barlow-Regular";
            }
            .dropdown-toggle {
              transition: color 0.4s;
              display: inline-block;
              position: relative;
              &:before {
                content: "";
                width: 100%;
                height: 1px;
                border: none;
                background: #34393e;
                position: absolute;
                left: 0;
                top: 115%;
              }
              &:after {
                width: 20%;
                height: 1px;
                border: none;
                background: #992540;
                transition: width 0.4s;
                display: block;
                margin-left: 0;
                position: absolute;
                left: 0;
                top: 115%;
              }
              &:hover {
                color: #992540;
                &:after {
                  width: 50%;
                }
              }
            }
            .dropdown-menu {
              position: static;
              padding: 0;
              .dropdown-item {
                &:before {
                  content: "";
                  background-color: #992540;
                  width: 10px;
                  height: 2px;
                  display: inline-block;
                  margin-right: 10px;
                  vertical-align: middle;
                }
              }
            }
          }
        }
        &:after {
          content: "";
          background: #992540;
          height: 1px;
          width: 0;
          transition: width 0.6s;
          display: block;
        }
        .nav-link {
          transition: all 0.6s;
        }
        &:hover {
          .nav-link {
            color: #992540;
          }
          &:after {
            width: 100%;
          }
          & > .dropdown-menu {
            visibility: visible;
            transform: translateY(0);
            opacity: 1;
            .dropdown-item {
              .dropdown-menu {
                visibility: visible;
              }
            }
          }
        }
      }
      li.dropdown {
        & > .dropdown-menu {
          transition: transform 0.3s;
          opacity: 0;
          .dropdown-menu {
            opacity: 1;
          }
        }
        a {
          &::after {
            margin-left: 10px;
          }
        }

        &:not(:first-child) {
          .dropdown-menu {
            padding: 0;
            .dropdown-item {
              padding: 8px 25px 8px 15px;
              transition: all 0.4s;
              &:hover {
                background: #a12844 !important;
              }
            }
          }
        }
        &:first-child {
          & > .dropdown-menu {
            display: flex;
            .dropdown-menu {
              display: block;
              .dropdown-item {
                padding: 4px 16px;
                a {
                  transition: color 0.4s;
                }
                &:hover {
                  background: #24272b !important;
                  a {
                    color: #a12844 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    .menu--custom-menu {
      .nav-item {
        background: #a12844;
        border: 1px solid #fff;
        line-height: 40px;
        padding: 0px 20px !important;
        .nav-link {
          padding: 0;
          color: #fff;
          &:hover {
            color: #fff !important;
          }
        }
      }
    }
    .language-switcher-language-url {
      .nav-item {
        .nav-link {
          padding: 8px 0 !important;
          &:after {
            display: none;
          }
        }
        .dropdown-menu {
          display: block !important;
          padding: 0 !important;
          .dropdown-item {
            padding: 8px 25px 8px 15px !important;
            transition: all 0.4s;
            &:hover {
              background: #a12844 !important;
            }
          }
          .dropdown-item:has(.is-active) {
            background: #a12844 !important;
            display: none;
          }
        }
      }
    }
    .search-block-form {
      padding: 0 !important;
      position: relative;
      color: blue;
      .js-form-item,
      .form-actions {
        margin-bottom: 0 !important;
      }
      .js-form-item {
        // width: 208px;
      }
      input {
        font-size: 14px;
        border-radius: 0;
        border: 1px solid #dddddd;
        padding: 10px 15px;
        padding-right: 40px;
      }
      .form-actions {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        input {
          width: 20px;
          height: 20px;
          opacity: 0;
          padding: 0;
          position: absolute;
          inset: 0;
        }
        &::after {
          content: "";
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cpath d='M12.9375 7.5625C12.9375 5.55859 11.8477 3.73047 10.125 2.71094C8.36719 1.69141 6.22266 1.69141 4.5 2.71094C2.74219 3.73047 1.6875 5.55859 1.6875 7.5625C1.6875 9.60156 2.74219 11.4297 4.5 12.4492C6.22266 13.4688 8.36719 13.4688 10.125 12.4492C11.8477 11.4297 12.9375 9.60156 12.9375 7.5625ZM11.8477 13.3281C10.582 14.3125 9 14.875 7.3125 14.875C3.26953 14.875 0 11.6055 0 7.5625C0 3.55469 3.26953 0.25 7.3125 0.25C11.3203 0.25 14.625 3.55469 14.625 7.5625C14.625 9.28516 14.0273 10.8672 13.043 12.1328L17.7539 16.8086C18.0703 17.1602 18.0703 17.6875 17.7539 18.0039C17.4023 18.3555 16.875 18.3555 16.5586 18.0039L11.8477 13.3281Z' fill='currentColor' fill-opacity='1'/%3E%3C/svg%3E");
          -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19' fill='none'%3E%3Cpath d='M12.9375 7.5625C12.9375 5.55859 11.8477 3.73047 10.125 2.71094C8.36719 1.69141 6.22266 1.69141 4.5 2.71094C2.74219 3.73047 1.6875 5.55859 1.6875 7.5625C1.6875 9.60156 2.74219 11.4297 4.5 12.4492C6.22266 13.4688 8.36719 13.4688 10.125 12.4492C11.8477 11.4297 12.9375 9.60156 12.9375 7.5625ZM11.8477 13.3281C10.582 14.3125 9 14.875 7.3125 14.875C3.26953 14.875 0 11.6055 0 7.5625C0 3.55469 3.26953 0.25 7.3125 0.25C11.3203 0.25 14.625 3.55469 14.625 7.5625C14.625 9.28516 14.0273 10.8672 13.043 12.1328L17.7539 16.8086C18.0703 17.1602 18.0703 17.6875 17.7539 18.0039C17.4023 18.3555 16.875 18.3555 16.5586 18.0039L11.8477 13.3281Z' fill='currentColor' fill-opacity='1'/%3E%3C/svg%3E");
          mask-size: cover;
          -webkit-mask-size: cover;
          background: #6e6e6e;
          display: inline-block;
          width: 20px;
          height: 20px;
          &:hover {
            background: #a12844;
          }
        }
        &:hover {
          &::after {
            background: #a12844;
          }
        }
      }
    }
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      z-index: 9;
      max-width: 260px;
      height: 100vh;
      transform: translateX(-100%);
      transition: transform 0.3s;
      justify-content: flex-start;
      &.header-menu-show {
        transform: translateX(0);
      }
      .menu--main {
        width: 100%;
      }
      ul.nav,
      .language-switcher-language-url {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        li.nav-item {
          width: 100%;
          padding: 0;
          .dropdown-toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            padding-left: 30px;
            &::after {
              transform: rotate(-90deg);
              transition: transform 0.3s;
            }
            &.show {
              background: #992540;
              color: #fff;
              &::after {
                transform: rotate(0deg);
              }
            }
            &:hover {
              background: #992540;
              color: #fff;
            }
          }
          .nav-link {
            padding: 5px !important;
            padding-left: 30px !important;
            &:hover {
              background: #992540;
              color: #fff;
            }
          }
          &::after {
            display: none;
          }
        }
        .dropdown-menu {
          position: static !important;
          opacity: 1 !important;
          visibility: visible !important;
          flex-direction: column;
          padding: 0 !important;
          transform: translateY(0) !important;
          height: 0 !important;
          transition: all 0.3s !important;
          overflow: hidden;
          &.show {
            height: auto !important;
            .dropdown-item {
              .dropdown-menu {
                height: auto !important;
              }
            }
          }
          .dropdown-item {
            padding: 2px 0 !important;
            &::before {
              content: "";
              background-color: #992540;
              width: 10px;
              height: 2px;
              display: inline-block;
              margin-right: 0.625rem;
              vertical-align: middle;
            }
            .dropdown-toggle {
              padding: 0;
              padding-left: 10px;
              &::after,
              &::before {
                display: none !important;
              }
            }
            a {
              color: #9aa8a8 !important;
            }
          }
        }
      }
      .language-switcher-language-url {
        li.nav-item {
          .nav-link {
            &::after {
              display: inline-block;
              margin-left: 0.255em;
              vertical-align: 0.255em;
              content: "";
              border-top: 0.3em solid;
              border-right: 0.3em solid transparent;
              border-bottom: 0;
              border-left: 0.3em solid transparent;
            }
          }
          .dropdown-item {
            &::before {
              display: none;
            }
          }
        }
      }
      .search-block-form {
        display: none;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    padding: 15px 0;
  }
}
