.advisory-guide-block {
  padding: 64px 10px;
  @media screen and (max-width: 767px) {
    padding: 24px 10px;
  }
  .advisory-content-wrapper {
    &.radius {
      border-radius: 16px;
    }
    padding: 20px 50px;
    box-shadow: 0px -10px 35px 0px rgba(0, 0, 0, 0.05);
    @media screen and (max-width: 767px) {
      padding: 16px;
    }
    &.advisory-content-wrapper-corporate{
      padding: 0!important;
      box-shadow: none;
    }
    .advisory-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      .advisory-content-column {
        width: 52%;
        @media screen and (max-width: 991px) {
          width: 50%;
          @media screen and (max-width: 767px) {
            width: 100%;
          }
        }
        &.advisory-content-column-width {
          width: 70%;
          @media screen and (max-width: 991px) {
            width: 50%;
            @media screen and (max-width: 767px) {
              width: 100%;
            }
          }
        }
        &.service-type-corporate{
          width: 100%!important;
          .advisory-content{
            padding: 0;
            h6{
              letter-spacing: 0;
              font-family: "Barlow-Medium";
            }
            p{
              font-size: 14px;
              line-height: 2;
            }
            .advisory-btn{
              @include securance-btn-link(#a12844, #ffffff, #a12844, #ffffff);
              a{
                padding: 11px 100px;
                text-transform: uppercase;
                font-size: 14px;
                font-family: "Poppins";
                font-weight: 600;
                &::after,svg{
                  display: none;
                }
              }
            }
          }
        }
      }
      .advisory-img-column {
        width: 30%;
        @media screen and (max-width: 991px) {
          width: 50%;
          @media screen and (max-width: 767px) {
            width: 100%;
          }
        }
        &.advisory-img-column-width {
          width: 30%;

          @media screen and (max-width: 991px) {
            width: 50%;
            @media screen and (max-width: 767px) {
              width: 100%;
            }
          }
          .advisory-img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .advisory-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px;
      h6 {
        @include h6;
      }
      h2 {
        @include h2;
      }
      p {
        @include p;
      }
      .advisory-btn {
        @include securance-btn-link(#ffffff, #a12844, #a12844, #ffffff);
        a {
          &::after {
            display: none;
          }
          svg {
            width: 18px;
            height: 18px;
            @media screen and (max-width: 767px) {
              width: 14px;
              height: 14px;
            }
            path {
              fill: #a12844;
              transition: all 0.3s;
            }
          }
          &:hover {
            svg {
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }
    .advisory-img {
      text-align: right;
      padding: 10px;
      width: 254px;
      height: 348px;
      margin: auto;
      @media screen and (max-width: 767px) {
        text-align: center;
        margin: auto;
        width: auto;
      }
      img,
      .field--name-field-figure {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &.cybersecurity{
    .advisory-content {
      .advisory-btn{
        a{
          background: transparent!important;
          padding-inline: 0;
          border: none;
          color: #a12844 !important;
          svg{
            path{
              fill: #a12844!important;
            }
          }
        }
      }
    }
  }
}
