.assurance-faq-block {
  background: #f9fafb;
  @include sectionSpace;
  .row {
    @media screen and (max-width: 991px) {
      gap: 30px;
    }
  }
  .heading {
    @include displayColumn;
    gap: 40px;
    align-items: flex-start;
    h6 {
      @include h6;
      color: #a12844;
    }
    h1 {
      @include h1;
      font-size: 56px;
      color: #020101;
    }
  }
  .accordion {
    overflow: hidden;
    .accordion-item {
      background: none;
      border: none;
      border-radius: 0;
      &:not(:last-child) {
        border-bottom: 1px solid #d5d8dc;
      }
      .accordion-header {
        .accordion-button {
          padding: 15px 20px 15px 0;
          font-size: 16px;
          line-height: 1.5;
          font-family: "Barlow-Medium";
          color: #1f2124;
          background: none !important;
          box-shadow: none !important;
          justify-content: space-between;
          gap: 10px;
          @media screen and (max-width: 767px) {
            padding: 15px 20px 15px 0;
            font-size: 14px;
          }
          &.collapsed {
            .open {
              display: none;
            }
            .close {
              display: block;
            }
          }
          .open {
            display: block;
          }
          .close {
            display: none;
          }
          &:after {
            display: none !important;
          }
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
      .accordion-collapse {
        .accordion-body {
          padding: 15px 20px 45px 0;
          font-size: 16px;
          line-height: 1.5;
          font-family: "Barlow-Regular";
          color: #555555;
          @media screen and (max-width: 767px) {
            padding: 15px 20px 15px 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}
