.landing-banner{
    @include sectionSpace;
    padding-top: 60px;
    padding-bottom: 40px;
    background-position: unset!important;
    background-size: unset!important;
    .heading{
        @include heading;
        align-items: flex-start;
        h6{
            color: #ffc2ce;
            word-spacing: 3px;
            text-transform: uppercase;
        }
        h2{
            color: #ffffff;
        }
        p{
            color: #f9fafb;
            line-height: 2;
        }
    }
}
.node--type-contact {
    .landing-banner{
        padding: 150px 0;
        background-size: cover !important;
    }
}