.service-main-wrapper {
  padding: 64px 0;

  @media screen and (max-width: 1024px) {
    padding: 64px 4px;
  }

  .row {
    row-gap: 30px;
  }

  .service-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 70px;

    @media screen and (max-width: 991px) {
      margin-bottom: 40px;
    }

    h6 {
      font-size: 14px;
      line-height: 1.5;
      margin: 0;
      font-family: "Barlow-Bold";
      color: #a12844;
    }

    h2 {
      font-size: 32px;
      line-height: 1.5;
      font-family: "Barlow-SemiBold";
      margin: 0;
      color: #54595f;

      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }

    .description {
      font-size: 14px;
      line-height: 2;
      font-family: "Barlow-Regular";
      color: #7a7a7a;
      max-width: 86%;

      @media screen and (max-width: 991px) {
        max-width: 100%;
      }
    }
  }

  .services-body-wrapper,
  .views-view-grid {
    .service-item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;

      &.services-shadow {
        background: #ffffff;
        padding: 24px;
        box-shadow: 0px 32px 64px 0px rgba(15.999999999999972, 23.99999999999997, 39.99999999999993, 0.07);
      }

      .image-wrapper {
        width: 60px;
        height: 60px;
        background: #F6EAED;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .service-content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3.service-title {
          font-size: 20px;
          line-height: 1.5;
          font-family: "Poppins";
          color: #000000;
          margin: 0;
        }

        p.service-description {
          font-size: 16px;
          line-height: 1.8;
          font-family: "Poppins";
          color: #626262;
          margin: 0;
          font-weight: 300;
        }

        a.cta-button {
          font-size: 16px;
          line-height: 1.5;
          font-family: "Barlow-SemiBold";
          color: #a12844;
          display: flex;
          gap: 15px;
          align-items: center;

          &::after {
            content: "";
            display: inline-block;
            width: 15px;
            height: 14px;
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none"><path d="M9.44922 0.94928L16.4999 8L9.44922 15.0507" stroke="%23A5253D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.4999 8L1.5 8" stroke="%23A5253D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none"><path d="M9.44922 0.94928L16.4999 8L9.44922 15.0507" stroke="%23A5253D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.4999 8L1.5 8" stroke="%23A5253D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
            mask-size: cover;
            -webkit-mask-size: cover;
            background: #a12844;
          }
        }
      }
    }
  }
}




.service-main-wrapper.view-services {
  max-width: 1200px;
  margin: auto;
  padding: 70px 12px;
  row-gap: 40px;

  @media screen and (max-width: 767px) {
    padding: 30px 12px;
    row-gap: 20px;
  }

  .views-view-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;

    .services-col-wrapper {
      padding: 0 12px;

      & * {
        font-family: "Poppins", serif !important;
      }

      >div {
        height: 100%;

        >div {
          height: 100%;
        }
      }

      .service-item {
        height: 100%;

        .image-wrapper {
          border-radius: 100%;
          width: 60px;
          height: 60px;
          background: #F6EAED;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 30px;
            height: 30px;
            margin-bottom: 0;
          }
        }

        .service-title {
          color: #000;

          @media screen and (max-width: 767px) {
            font-size: 18px;
          }
        }

        .service-description {
          p {
            color: #626262;

            @media screen and (max-width: 767px) {
              font-size: 14px;
            }
          }
        }

        .service-links {
          @include securance-btn-link(transparent, #a12844, transparent, #000000);
          font-weight: 600;

          a {
            padding: 0;

            @media screen and (max-width: 767px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}