.paragraph-body-block {
  @include sectionSpace;
  .paragraph-body-content {
    .field--name-field-body {
      @include heading;
      align-items: flex-start;
      gap: 15px;
      h3{
        font-family: "Barlow-Medium";
        color: #344050;
        margin-bottom: 5px;
      }
      p{
        font-size: 14px;
        font-family: "Poppins";
        color: #667085;
        a{
          color: currentColor;
        }
      }
      ul{
        list-style: none;
        padding-left: 0;
        li{
          div{
            font-size: 14px;
            font-family: "Poppins";
            line-height: 2;
            color: #667085;
            margin-bottom: 10px;
          }
        }
      }
      blockquote{
        p{
            font-size: 20px;
            border-left:4px solid #D07F91;
            padding-left: 10px;
            line-height: 2;
            font-family: "Barlow-Medium";
        }
      }
    }
  }
}
