.readiness-block {
  background: #faf4f5;
  @include sectionSpace;
  .readiness-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    .heading {
      @include heading;
      align-items: flex-start;
      h6 {
        color: #a12844;
        letter-spacing: normal;
        font-family: "Barlow-Semibold";
      }
      p {
        color: #667085;
      }
    }
    .readiness-content-wrapper {
      .readiness-card {
        display: flex;
        @media screen and (min-width: 768px) {
          &:nth-child(even) {
            flex-direction: row-reverse;
            .readiness-img-content {
              justify-content: flex-end;
              img {
                transform: scaleX(-1);
              }
            }
          }
        }
        &:not(:first-child) {
          margin-top: -20px;
          @media screen and (max-width: 1024px) {
            margin-top: -90px;
          }
        }
        &:last-child {
          .readiness-img-content {
            display: none;
          }
        }
        .readiness-card-content {
          width: 40%;
          background: #ffffff;
          padding: 24px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border: 1px solid #a5253d29;
          box-shadow: 0px 4px 24px 0px
            rgba(164.9999999999999, 36.99999999999997, 60.999999999999964, 0.09);
          @media screen and (max-width: 1024px) {
            width: 48%;
            @media screen and (max-width: 767px) {
              width: 100%;
            }
          }
          .card-header {
            display: flex;
            gap: 10px;
            align-items: center;
            .card-icon {
              background: #f6eaed;
              width: 60px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
            }
            h4 {
              color: #a12844;
            }
          }
          .card-body {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          h4 {
            font-size: 20px;
            line-height: 1.5;
            font-family: "Barlow-SemiBold";
            margin: 0;
            color: #000000;
            @media screen and (max-width: 767px) {
              font-size: 18px;
            }
          }
          p {
            font-size: 16px;
            line-height: 1.5;
            font-family: "Barlow-Regular";
            color: #626262;
            margin: 0;
            @media screen and (max-width: 767px) {
              font-size: 14px;
            }
          }
        }
        .readiness-img-content {
          width: 60%;
          position: relative;
          z-index: 9;
          display: flex;
          align-items: flex-end;
          img {
            &.solid-mobile {
              display: none;
            }
            &.solid-desktop {
              display: block;
            }
          }
          @media screen and (max-width: 1024px) {
            width: 52%;
            margin-bottom: 70px;
            @media screen and (max-width: 767px) {
              justify-content: center;
              width: 100%;
              margin-bottom: 75px;
            }
            img {
              width: 200px;
              @media screen and (max-width: 767px) {
                width: 20px;
                &.solid-mobile {
                  display: block;
                }
                &.solid-desktop {
                  display: none;
                }
              }
            }
          }
        }
        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
      }
    }
  }
  &.readiness-dashes-block {
    .readiness-wrapper {
      .readiness-content-wrapper {
        .readiness-card {
          margin-top: 0 !important;
          .readiness-card-content {
            @media screen and (min-width: 1025px) {
              margin-bottom: 70px;
            }
          }
          .readiness-img-content {
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }
}
