.securance-banner {
  &.banner-spacing {
    padding: 160px 0;
    @media screen and (max-width: 1024px) {
      padding: 64px 0;
    }
    .securance-banner-content {
      p {
        max-width: 75%;
        @media screen and (max-width: 991px) {
          max-width: 90%;
          @media screen and (max-width: 767px) {
            max-width: 100%;
          }
        }
      }
    }
  }
  @include sectionSpace;
  position: relative;
  .row {
    align-items: center;
  }
  .securance-banner-bg {
    @media screen and (max-width: 767px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  .securance-banner-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    * {
      margin: 0;
    }
    h6 {
      @include h6;
      color: #a12844;
      text-transform: uppercase;
    }
    h1 {
      @include h1;
      color: #24272a;
      font-size: 32px;
      font-family: "Poppins", serif !important;
      text-transform: uppercase;
      span.heading-1-On,
      span.heading-2-Off {
          color: #a12844;
      }
    }
    p {
      @include securance-banner-description;
      font-size: 16px;
      font-family: "Poppins", serif !important;
      white-space: pre-wrap;
    }
    .securance-banner-link {
      @include securance-btn-link(#a12844, #ffffff, #ffffff, #a12844);
    }
  }
  .securance-banner-img {
    text-align: center;
    img {
      width: 50%;
    }
  }
  &.banner-full-width {
    padding: 0;
    .container {
      max-width: 100%;
      padding: 0;
      .row {
        margin: 0;
        .col-12 {
          padding: 0;
        }
      }
    }
    .securance-banner-content {
      padding: 75px;
    }
    .securance-banner-img {
      img {
        width: 100%;
      }
    }
  }
}
