.securance-banner {
  &.banner-spacing {
    padding: 160px 0;
    @media screen and (max-width: 1024px) {
      padding: 64px 0;
    }
    .securance-banner-content {
      p {
        max-width: 75%;
        @media screen and (max-width: 991px) {
          max-width: 90%;
          @media screen and (max-width: 767px) {
            max-width: 100%;
          }
        }
      }
    }
  }
  @include sectionSpace;
  position: relative;
  .row {
    align-items: center;
  }
  .securance-banner-bg {
    @media screen and (max-width: 767px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  .securance-banner-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    * {
      margin: 0;
    }
    h6 {
      @include h6;
      color: #a12844;
    }
    h1 {
      @include h1;
      color: #24272a;
    }
    p {
      @include securance-banner-description;
    }
    .securance-banner-link {
      @include securance-btn-link(#a12844, #ffffff, #ffffff, #a12844);
      // a {
      //   font-family: "Barlow-Medium";
      //   font-size: 16px;
      //   line-height: 30px;
      //   fill: #ffffff;
      //   color: #ffffff;
      //   background-color: #a12844;
      //   border: 1px solid #a12844;
      //   padding: 14px 24px;
      //   display: inline-flex;
      //   align-items: center;
      //   gap: 10px;
      //   transition: all 0.3s;
      //   &::after {
      //     content: "";
      //     display: inline-block;
      //     width: 16px;
      //     height: 16px;
      //     background-size: cover;
      //     mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="e-font-icon-svg e-fas-arrow-right" viewBox="0 0 448 512"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg>');
      //     -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="e-font-icon-svg e-fas-arrow-right" viewBox="0 0 448 512"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg>');
      //     mask-size: cover;
      //     -webkit-mask-size: cover;
      //     background: #fff;
      //   }
      //   &:hover {
      //     background-color: transparent;
      //     color: #a12844;
      //     &::after {
      //       background: #a12844;
      //     }
      //   }
      // }
    }
  }
  .securance-banner-img {
    text-align: center;
    img {
      width: 50%;
    }
  }
  &.banner-full-width {
    padding: 0;
    .container {
      max-width: 100%;
      padding: 0;
      .row {
        margin: 0;
        .col-12 {
          padding: 0;
        }
      }
    }
    .securance-banner-content {
      padding: 75px;
    }
    .securance-banner-img {
      img {
        width: 100%;
      }
    }
  }
}
