.view-display-id-use_case {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px 12px;
  .view-content {
    .flickity-button {
      display: block !important;
      top: -105px;
      transform: translateY(0);
      border: 1px solid #a12844;
      width: 52px;
      height: 52px;
      transition: all 0.3s;
      &.flickity-prev-next-button.previous {
        left: auto;
        right: 80px;
      }
      svg {
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        path {
          fill: #a12844;
          transition: all 0.3s;
        }
      }
      &:hover {
        background: #a12844;
        svg {
          path {
            fill: #ffffff;
          }
        }
      }
      @media screen and (max-width: 767px) {
        width: 38px;
        height: 38px;
        top: -80px;
        &.flickity-prev-next-button.previous {
          right: 60px;
        }
        svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      margin: 0;
      padding-bottom: 0;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 24px 0;
  }
  .view-header {
    @media screen and (max-width: 1024px) {
      padding: 0 12px;
    }
    h3 {
      font-size: 40px;
      line-height: 1.5;
      font-family: "Barlow-SemiBold";
      color: #000000;
      margin: 0;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.5;
      font-family: "Barlow-Bold";
      color: #a12844;
      letter-spacing: 4px;
      margin: 0;
      @media screen and (max-width: 767px) {
        font-size: 12px;
        letter-spacing: 0;
      }
    }
  }
  .testimonial-wrapper {
    flex-direction: column;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.07);
    .testimonial-img-content {
      width: 100%;
      img {
        height: 250px;
        object-fit: cover;
      }
    }
    .testimonial-content {
      width: 100%;
      padding: 16px;
      background: #ffffff;
      height: 230px;
      justify-content: space-between;
      h3 {
        a {
          color: #000;
        }
      }
      .description {
        font-family: 'Poppins', serif !important;
        color: #667085;
        font-size: 16px;

      }
      .organisation-content {
        a {
          color: #a12844;
          font-family: "Barlow-SemiBold";
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:empty {
            display: none;
          }
          &::after {
            content: "";
            display: inline-block;
            width: 15px;
            height: 14px;
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none"><path d="M9.44922 0.94928L16.4999 8L9.44922 15.0507" stroke="%23A5253D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.4999 8L1.5 8" stroke="%23A5253D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none"><path d="M9.44922 0.94928L16.4999 8L9.44922 15.0507" stroke="%23A5253D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16.4999 8L1.5 8" stroke="%23A5253D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
            mask-size: cover;
            -webkit-mask-size: cover;
            background: #a12844;
          }
          &:hover {
            color: #000000;
            &::after {
              background: #000000;
            }
          }
        }
      }
    }
  }
  .flickity-viewport {
    height: 500px !important;
    @media screen and (max-width: 1024px) {
      height: 560px !important;
      @media screen and (max-width: 991px) {
        height: 520px !important;
        @media screen and (max-width: 767px) {
          height: 560px !important;
        }
      }
    }
    .gallery-cell {
      width: calc(33.33% - 12px);
      margin-right: 12px;
      height: 100%;
      @media screen and (max-width: 991px) {
        width: calc(50% - 6px);
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
      .views-field-nothing,
      .field-content {
        height: 100%;
      }
    }
  }
}
