{{ content.field_country}}

{{ content.field_address }} 
<div class="footer-menu">
<ul>
  <li>
    <h4>{{ content.field_country}}</h4>
  </li>
  <li>
    {{ content.field_address }} 
  </li>
</ul>
</div>