<div class="readiness-block">
<div class="container">
    <div class="readiness-wrapper">
        <div class="heading">
            
        </div>
    </div>
	{{content.field_title}}
	{{content.field_description}}
	{{content.field_week_schedule}}
</div>
